version: 2.1

orbs:
  aws-cli: circleci/aws-cli@2.0.3
  kubernetes: circleci/kubernetes@1.3.0
  helm: circleci/helm@1.2.0
  docker: circleci/docker@2.0.3

jobs:
  build-and-deploy:
    # Specify the execution environment. You can specify an image from Dockerhub or use one of our Convenience Images from CircleCI's Developer Hub.
    # See: https://circleci.com/docs/2.0/configuration-reference/#docker-machine-macos-windows-executor
    docker:
      - image: cimg/base:stable
    # Add steps to the job
    # See: https://circleci.com/docs/2.0/configuration-reference/#steps
    steps:
      - checkout
      - aws-cli/install
      - kubernetes/install
      - helm/install-helm-client
      - docker/install-docker
      - run: 
          name: Get Commit ID
          command: echo commit ID is $(git rev-parse --verify --short HEAD)

# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  pipeline-workflow:
    jobs:
      - build-and-deploy
