version: 2.1

orbs:
  aws-cli: circleci/aws-cli@3.0.0
  kubernetes: circleci/kubernetes@1.3.0
  helm: circleci/helm@1.2.0

jobs:
  build-and-deploy:
    # Specify the execution environment. You can specify an image from Dockerhub or use one of our Convenience Images from CircleCI's Developer Hub.
    # See: https://circleci.com/docs/2.0/configuration-reference/#docker-machine-macos-windows-executor
    docker:
      - image: cimg/base:stable
    # Add steps to the job
    # See: https://circleci.com/docs/2.0/configuration-reference/#steps
    steps:
      - checkout
      - aws-cli/install
      - kubernetes/install
      - helm/install-helm-client
      - run: 
          name: AWS Account
          command: AWS_ACCOUNT="310228935478"
      - aws-cli/setup:
          configure-default-region: true 
          configure-profile-region: true 
          disable-aws-pager: true 
          override-installed: false 
          aws-access-key-id: AWS_ACCESS_KEY_ID 
          aws-region: AWS_DEFAULT_REGION 
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY
      - run: 
          name: Get Current AWS Target
          command: echo AWS Account Number is $(aws --profile default sts get-caller-identity | grep Account | awk '{print $2}' |  tr -d \"\,)
      - run: 
          name: Get Commit ID
          command: echo commit ID is $(git rev-parse --verify --short HEAD)
      - run:
          name: Display Namespace
          command: echo $(whoami)
      - run:
          name: Update .kube config file w/ eks authenication info
          command: aws eks update-kubeconfig --profile default --region $AWS_DEFAULT_REGION --name at-interviews-cluster
      - run:
          name: Use .kube config
          command: kubectl config use-context arn:aws:eks:us-west-2:310228935478:cluster/at-interviews-cluster
      - run: 
          name: Login into Amazon ECR
          command: aws ecr get-login-password --profile default --region us-west-2 | docker login --username AWS --password-stdin $(aws --profile default sts get-caller-identity | grep Account | awk '{print $2}' |  tr -d \"\,).dkr.ecr.us-west-2.amazonaws.com
      - run:
          name: Build Docker Container
          command: docker build --no-cache --build-arg GIT_COMMIT=$(git rev-parse --verify --short HEAD) -t helloworld:$COMMIT_ID -t 310228935478.dkr.ecr.us-west-2.amazonaws.com/helloworld:$COMMIT_ID .

# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  pipeline-workflow:
    jobs:
      - build-and-deploy
